*{
    margin: 0;
    padding: 0;

}

div{
    width: 1000px;
    height: 500px;
    background-color: #f00;
}


@media screen and (max-width:760px){

div{
background-color: blue;
 width: 50vw;
 height: 50vh;

}




}